body {
  margin: 0;
  padding: 0;
  height: 100vh;
  background: linear-gradient(to right top, #1898c3, #0080ff);
}
body, ul {
    margin: 0;
    padding: 0;
}

nav {
    background-color: transparent; 
}

nav ul {
    list-style-type: none; 
    overflow: hidden; 
}

nav ul li {
    float: left; 
}

nav ul li a {
    display: block; 
    color: white; 
    text-decoration: none; 
    padding: 20px;
    font-family: lexend; 
}

nav ul li a:hover {
    background-color: transparent; 
}


nav ul li:first-child a {
    padding-left: 30px; 
    background-image: url('nervron_-removebg-preview.png'); 
    background-repeat: no-repeat;
    background-size: 50px; 
    background-position: center left; 
}
