.next {
margin-left: 50px;
font-family: lexend;
  
}

.neveron {
  font-family: lexend;
  display: inline-block;
  animation: standout 1.5s ease-in-out infinite alternate;
}

@keyframes standout {
  from {
    text-shadow: 0 0 10px rgba(255, 255, 255, 0.8);
    transform: scale(1);
    color: white;
  }
  to {
    text-shadow: 0 0 20px rgba(255, 255, 255, 1);
    transform: scale(1.05);
    color: cyan;
  }
}





.sec {
margin-left: 60px;
font-family: livvic;
font-size: 15px;
height: 25vh;
width: 50vh;
}

.sec2 {
margin-left: 80px;
font-family: livvic;
font-size: 15px;
height: 25vh;
width: 50vh;
margin-top: 1px;
}
body {
  margin: 0;
  padding: 0;
  height: 100vh;
  background-image: linear-gradient(to right top, #977DFE,  #6878FF);
}
.button {
background-color: transparent;
border-color: transparent;
font-family: lexend;
border-radius: 4px;
width: 150px;
font-size: 25px;
cursor: pointer;
}



body, ul {
    margin: 0;
    padding: 0;
}

nav {
    background-color: transparent; 
}

nav ul {
    list-style-type: none; 
    overflow: hidden; 
}

nav ul li {
    float: left; 
}

nav ul li a {
    display: block; 
    color: white; 
    text-decoration: none; 
    padding: 20px;
    font-family: lexend; 
}

nav ul li a:hover {
    background-color: transparent; 
}
