body {
  margin: 0;
  padding: 0;
  height: 100vh;
  background: linear-gradient(to right top, #2f3037, #000000);
  text-align: left; /* Align text to the left */
}

body,
ul {
  margin: 0;
  padding: 0;
}

nav {
  background-color: transparent;
}

nav ul {
  list-style-type: none;
  overflow: hidden;
}

nav ul li {
  float: left; /* Change float direction to left */
}

nav ul li a {
  display: block;
  color: white;
  text-decoration: none;
  padding: 20px;
  font-family: lexend;
}

nav ul li a:hover {
  background-color: transparent;
}

nav ul li:first-child a {
  padding-left: 30px;
  background-image: url('nervron_-removebg-preview.png');
  background-repeat: no-repeat;
  background-size: 50px;
  background-position: center left;
}

h1 {
  color: white;
  margin: 20px 0 10px; /* Adjust margin */
  font-size: 24px; /* Adjust font size */
  font-family: lexend;
  text-align: left; /* Align text to the left */
  font-weight: bolder;
  word-wrap: break-word; /* or overflow-wrap: break-word; */
  max-width: 500px;
}


h2 {
  color: white;
  margin: 10px auto; /* Adjust margin */
  margin-left: 0; /* Reset margin-right */
  font-family: Livvic;
  word-wrap: break-word; /* or overflow-wrap: break-word; */
  max-width: 350px; /* Adjust as needed */
  text-align: left; /* Align text to the left */
  font-size: 16px;
}

button {
  background-color: gray;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-family: lexend;
  margin-top: 20px; /* Adjust margin */
  margin-left: 0; /* Reset margin-right */
}

button {
  background-color: gray;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-family: lexend;
  margin-top: 10px; /* No change in margin */
  margin-left: 0; /* Reset margin-right */
  transition: background 0.3s ease, color 0.3s ease; /* Add smooth transition effect */
}

button:hover {
  background: white;
  color: black;
}
